<div class="row">
  <div class="col-sm-12">
    <h2>Recipe Item</h2>
  </div>
  <div class="col-sm-12">
    <img src="https://pre00.deviantart.net/cc47/th/pre/i/2011/273/4/7/circle_of_food__logo_by_dtdstudio-d4bd15t.jpg" alt="Image Recipe Detail" class="img-responsive">
  </div>
</div>
<br>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3><small>Description</small></h3>
  </div>
</div>

  <div class="row">
  <div class="col-sm-12">
    <h3><small>Ingrediants</small></h3>
  </div>
</div>